.container{
    
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    text-align: left;
    gap: 10px;
    width: auto;
    :nth-child(3){
        width: 320px;
    }
  
    &__header{
        color:#081229;
        font-weight: 600;
        font-size: 16px;
        margin-left: -30px;
        text-align: left;
        
       
    }

    &__duration{
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        margin-left: 1px;
    }
    &__features{
        display: flex;
        flex-direction: row;
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        flex: 2;
        justify-content: space-around;
        :nth-child(1){
            margin-left: -50px;
        }
        :nth-child(2){
            margin-left: 90px;
        }
    }

    &__footer{
        display: flex;
        flex-direction: row;
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        flex: 2;
        justify-content: space-around; 
        :nth-child(1){
            margin-left: 20px;
        }
        :nth-child(2){
            margin-left: 50px;
        }
    }

    &__price{
        color:#081229;
        font-weight: 700;
        font-size: 20px;
        margin-left: 30px;
        
    }

    &__viewDetails{
        height:44.63px;
        width: 142.04px;
        color: #4C5B63;
        background-color: #fff;
        border: 1px solid #4C5B63;
        border-radius: 5px;
        cursor: pointer;
    }

    &__img{
        max-width: 20em;
        margin-left: 20px;
        width: 20em;
        height: 20em;
        max-height: 200px;
        
    }
    
}

.container__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -100px;
    width: auto;
   :nth-child(1){
    margin-left: 40px;
   }
    
}


@media only screen and (max-width:600px) {
    .container__wrapper{
        display: flex;
        margin-top: 320px;
        justify-content: center;
        margin-left: 0px;
        margin-right: 50px;
        :nth-child(1){
            margin-left: 20px;
        }
        :nth-child(2){
            margin-left: 20px;
        }
        :nth-child(3){
            margin-left: 20px;
        }
    }  
    .container{
        align-items: center;
    
       
        &__price{
            margin-left: -100px;
        }
     
        &__img{
            max-width: 25em;
            width: 25em;
            height: 300px;
            max-height: 300px;
            justify-content: center;
            justify-self: center;
            text-align: center;

            
        }
    }
}


@media only screen and (max-width:1920px) and (min-width:600px) {
    .container__wrapper{
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 50px;
        :nth-child(1){
            margin-left: 20px;
        }
        :nth-child(2){
            margin-left: 20px;
        }
        :nth-child(3){
            margin-left: 20px;
        }
    }  
    .container{
        align-items: center;
       
       
       
        &__price{
            margin-left: -100px;
        }
     
        &__img{
            max-width: 300px;
            max-height: 210px;
            justify-content: center;
            justify-self: center;
            text-align: center;

            
        }
    }
}

.cointainerWrapper{
    display: flex;
}