.container{
    
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: center;
    text-align: left;
    gap: 10px;
    
    &__img{
        width: 341px;
        height: 5vh;

    }

    &__header{
        color:#081229;
        font-weight: 600;
        font-size: 16px;
        
       
    }

    &__duration{
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        text-align: left;
        margin-left: 1px;
    }
    &__features{
        display: flex;
        flex-direction: row;
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        flex: 2;
        justify-content: space-around;
        :nth-child(1){
            margin-left: -50px;
        }
        :nth-child(2){
            margin-left: 90px;
        }
    }

    &__footer{
        display: flex;
        flex-direction: row;
        color:#081229;
        font-weight: 400;
        font-size: 16px;
        flex: 2;
        justify-content: space-around; 
        :nth-child(1){
            margin-left: -40px;
        }
        :nth-child(2){
            margin-left: -20px;
        }
    }

    &__price{
        color:#081229;
        font-weight: 700;
        font-size: 20px;
        
    }

    &__viewDetails{
        height:44.63px;
        width: 142.04px;
        color: #4C5B63;
        background-color: #fff;
        border: 1px solid #4C5B63;
        border-radius: 5px;
        cursor: pointer;
    }

    &__img{
        width: 90%;
        height: 100%;
    }
    
}

.container__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
   
}

