.container {
  background-color: #4c5b63;
  height: 30vh;
  width: 100%;
  bottom: 0;
  color: #fff;
}
.container__mobile {
  display: none;
}
.container__wrapper {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding: 2rem;
  :nth-child(1) {
    h3 {
      font-weight: 900;
      font-size: 28px;
      margin-top: 5px;
    }
  }

  :nth-child(2) {
    line-height: 20px;
  }

  :nth-child(3) {
    .socials {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }

  :nth-child(4) {
    .contact {
      display: flex;
      flex-direction: column;
    }
  }

  section {
    font-weight: 600;
    font-size: 14px;
    line-height: 10.08px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    a {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 14px;
      line-height: 10.08px;
      color: #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }
}




.container {
    height: 50vh;
  }
  .container__divider {
    height: 1px;
    background-color: #fff;
    width: 50%;
    bottom: 0;
    margin-top: -5vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 9px;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
  
@media only screen and (max-width: 768px) {
  .container__mobile {
    background-color: #4c5b63;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    height: 70vh;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    label {
      font-weight: 300;
      font-size: 10px;
    }
  }
  .top {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }
  .bottom {
    display: flex;
    flex-direction: row;
    gap: 110px;
  }
  .container {
    display: none;
  }
  .container__wrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    :nth-child(1) {
      margin-top: 7px;
    }
  }
  .container__divider {
    height: 1px;
    background-color: #fff;
     width: 100%;
    position: absolute;
    top: 335vh;
    font-size: 9px;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
    color: #fff;
    display: none;
  }
  
}


@import url('../../../assets/fonts/fonts.scss');
