@font-face {
    font-family: 'Inter';
    src: url('./inter/Inter-Black.ttf') format('opentype');
}

@font-face {
    font-family: 'Roboto';
    src: url('./roboto/Roboto-Black.ttf') format('opentype');
}

