.container{
    width: 70%;
    height: 82px;
    background-color: #F3F6F8;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 4%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.container__left{
    width: 200px;
   text-align: left;
    margin-top: 16px;
    font-weight: 900;
    font-size: 28px;
}

.container__middle{
    margin-top: 20px;
    width: 500px;
    display: flex;
    white-space: nowrap;
    gap: 50px;
    label{
        cursor: pointer;
    }
}

.container__right{
    margin-top: 10px;
    width: 500px;
    display: flex;
    gap:20px;
    justify-content: flex-end;
}
.container__drawer{
    float: left;
    margin-left: -20px;
}

@media only screen and (max-width:600px) {
    .container__middle{
        display: none;
    }
    .container__right{
        display: none;
    }
    .container__left{
       margin-top: -1px;
       margin-left: 20px;
    }
    .container{
        width: 100%;
        margin-left: 0;
        padding: 10px;
        height: 5vh;
    }
}

.login{
    height:44.63px;
    width: 105.04px;
    color: #4C5B63;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}